@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins&display=swap');

body {
    background-color: pink;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Fredoka One', cursive;
}

h4 {
    font-family: 'Fredoka One', cursive;
    color:rebeccapurple;
    padding-bottom: 10px;
}

.btn-dark {
    color:pink;
}

.btn-light {
    color: white;
    background-color:rebeccapurple;
    border-color: white;
}



a {
    color:rebeccapurple;
    text-decoration: none;
}

.form-control {
    border-color: rebeccapurple;
}

.form-select {
    border-color:rebeccapurple;
}


.input-group-text {
    border-color: rebeccapurple;
}